<!DOCTYPE html>
<html>
  <head>
    <title>Code Editor Example</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div style="display: flex;">
      <div style="flex: 1; width: 50%">
        <textarea id="code-editor"></textarea>
      </div>
      <div style="flex: 1; width: 50%">
        <textarea id="right-textbox" readonly></textarea>
      </div>
    </div>

    <script>
      const codeEditor = CodeMirror.fromTextArea(
        document.getElementById("code-editor"),
        {
          mode: {
            name: "python",
          },
          lineNumbers: true,
          lineWrapping: true,
        }
      );
      codeEditor.setSize(null, "100%");

      console.log("Modes" + CodeMirror.modes);
      const verilogDisplay = CodeMirror.fromTextArea(
        document.getElementById("right-textbox"),
        {
          mode: {
            name: "verilog",
          },
          lineNumbers: true,
          lineWrapping: true,
        }
      );
      verilogDisplay.setSize(null, "100%");

      codeEditor.on("change", function (instance) {
        var code = instance.getValue();
        $.ajax({
          type: "POST",
          url: "/update_text",
          data: { text: code },
          success: function (response) {
            var updatedText = response.updated_text;
            verilogDisplay.getDoc().setValue(updatedText);
          },
        });
      });
    </script>
  </body>
</html>
